.carousel__image {
  width: 98.9vw;
  z-index: -1;
  margin-bottom: -350px;
  -webkit-mask-image: inear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
